@font-face {
  font-family: "Ghroob";
  src: url("../assets/fonts/itfGhroob-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Ghroob";
  src: url("../assets/fonts/itfGhroob-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Ghroob";
  src: url("../assets/fonts/itfGhroob-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Ghroob";
  src: url("../assets/fonts/itfGhroob-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Ghroob";
  src: url("../assets/fonts/itfGhroob-ExtraBold.otf") format("opentype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

:root {
  --font-primary: "Ghroob", Tahoma, Arial, sans-serif;
}
